*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: hsl(182, 25%, 50%);
  /* height: 90vh; */
  margin: 0;
  font-size: 7.5vmin;
}

button {
  background-color: hsl(200, 25%, 20%);
  padding: 1vmin 2vmin;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  border: 1px solid hsl(500, 25%, 80%);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5vmin;
}

.title {
  margin: 0;
  color: white;
  padding-left: 5vmin;
  padding-right: 5vmin;
  font-size: 4vmin;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: hsl(182, 25%, 50%);
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: relative;
}

.cell {
  background-color: hsl(200, 25%, 50%);
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: tomato;
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(182, 50%, var(--background-lightness));
  color: hsl(182, 25%, var(--text-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
